# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Docker volumes
postgres_data/

# Claude
.claude/

#environment
.env

#folders
development_markdowns/
output_markdown/
som_backend/
deployment/
deployment_markdown/